@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

;

.light_clr {
  @apply text-[#4b5563];
}

;

.light_clr2 {
  @apply text-[#4b5563];
}

;

.scrollbar_hide::-webkit-scrollbar {
  display: none;
}

.anime {
  animation: slideUp 3s ease-in-out infinite;
}

@keyframes slideUp {
  0% {
    transform: translateY(-40px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
  }
}


.scale_anim {
  animation: scale 3s ease-in-out infinite;
}

@keyframes scale {
  0% {
    scale: 0.8;
  }

  50% {
    scale: 1;

  }

  100% {
    scale: 0.8;

  }
}


.scale_rot {
  animation: scale-rot 3s ease-in-out infinite;
}

@keyframes scale-rot {
  0% {
    transform: rotate(25deg) scale(0.8);
  }

  50% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(25deg) scale(0.8);
  }
}


.side_anim {
  animation: slideside 3s ease-in-out infinite;
}

@keyframes slideside {
  0% {
    transform: translateX(-40px);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-40px);
  }
}